/* reset 중복요소가 있으므로 합치면 좋겠음 */
/* h5와 겹침 */
.fnb li a{
  font-size: var(--h5);
  line-height: 160%; /* 28.8px */
  letter-spacing: 0.18px;
}
.footer,
.textWrap,
.nav .social li a,
.fnb li a::before{
  transition: .3s;
}

.footer,
.fnb,
nav .social,
nav .social li a{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer{
  padding: 0 2.81rem;
  height: 120px;
  margin: auto;
  border-top: 1px solid var(--white);
}
.footer nav{}
.fnb{
  gap: var(--h5);
}
.fnb li{}
.fnb li a{
  position: relative;
}
.fnb li a::before{
  content: '';
  width: 0;
  height: 1px;
  background-color: var(--white);
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
}

.footer .textWrap{
  margin: 0 5rem 0 auto;
}
.footer .textWrap a{
  display: inline-block;
}
.footer .textWrap a img{
  width: 100%;
}
.footer .textWrap span{
  margin-left: 0.5rem;
  display: inline-block;
  transform: translateY(0.1rem);
}

nav .social{
  gap: 0.8rem;
}
nav .social li{}
nav .social li a{
  width: var(--h3);
  height: var(--h3);
  justify-content: center;
  border: 1px solid var(--white);
  border-radius: 100%;
}
nav .social li a i{
  font-size: 1rem;
}
nav .social li a img{
  width: 80%;
  filter: invert(1);
}

/* 호버 스타일 */
@media (hover:hover){
  .fnb li a:hover::before{
    width: 100%;
  }
  nav .social li a:hover{
    background-color: var(--white);
  }
  nav .social li a:hover i{
    color: var(--bk);
  }
  nav .social li a:hover img{
    filter: invert(0);
  }
}



/***** 반응형 *****/
@media (max-width: 1420px) {
  .footer .textWrap{
    margin: 0 2% 0 auto;
  }
}
@media (max-width: 1260px) {
  .footer .fnb li:nth-child(2),
  .footer .fnb li:nth-child(3){
    display: none;
  }
}
@media (max-width: 1024px) {
  .footer{
    height: fit-content;
    padding: 2rem 2.81rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer .textWrap{
    margin: 2rem 0 1rem;
  }
}
@media (max-width: 768px) {
  .footer{
    height: fit-content;
    padding: 2rem var(--h5);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer .textWrap{
    margin: 2rem 0 1rem;
  }
  .footer .textWrap a{
    width: 120px;
  }

  .footer nav .social li a{
    width: var(--h2);
    height: var(--h2);
  }
  .footer nav .social li a img{
    width: 90%;
  }
}