/* common */
.inner {
  max-width: 1500px;
  margin: 0 auto;
}

/* ------------------- service ------------------------*/
.service {
}
.service_title {
  padding: 130px 0 3rem;
}
.service_title h2 {
  font-size: var(--h2);
}
.service_title p br {
  display: none;
}
.service_container {
}
.service_container ul {
}
.service_container ul li {
  width: 100%;
}
.service_container ul li a {
  display: flex;
  height: 320px;
}
.service_text_area {
  text-align: center;
  width: 30%;
  color: #fff;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
.service_text_area:hover {
  background-color: #fff;
  color: #000;
  transition: 0.4s;
}
.service_btn_area {
  display: none;
}
.service_container
  ul
  > li:nth-child(1)
  > a:hover
  .service_img_area
  .service_img01 {
  transform: scale(1.05);
  transition: 0.4s;
}
.service_container
  ul
  > li:nth-child(2)
  > a:hover
  .service_img_area
  .service_img02 {
  transform: scale(1.05);
  transition: 0.4s;
}
.service_container
  ul
  > li:nth-child(3)
  > a:hover
  .service_img_area
  .service_img03 {
  transform: scale(1.05);
  transition: 0.4s;
}
.service_container ul > li > a:hover .service_text_area {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.4s;
}
.service_text_area p {
  font-size: 24px;
  line-height: 320px;
}
.service_text_area .iconWrap{
  width: fit-content;
  position: absolute;
  bottom: 1.5rem;
  right: 3.5rem;
  opacity: 0;
}

.service_img_area {
  width: 70%;
  height: 100%;
  overflow: hidden;
}
.service_img_area .service_img01 {
  background: url(../img/service/service07.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.service_img_area .service_img02 {
  background: url(../img/service/service04.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.service_img_area .service_img03 {
  background: url(../img/service/service05.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}


@media (hover:hover){
  .service_container ul > li > a:hover .service_text_area .iconWrap{
    animation: canHover 0.3s ease-in-out forwards;
  }
}
@keyframes canHover{
    100%{
      opacity: 1;
      right: 1.5rem;
    }
  }